@import "../../styles/mixins";

#drawer-item{
  @include flex-center(row);
  @extend .hoverable;
  height:6vw;
  .drawer-item-container{
    width:80%;
    @include flex-center(row);

    .title {
      flex:4;
    }
    .icon {
      flex:1;
    }
  }

}